<div>
    <div style="width: 50%; float: left; clear: none;">
        <div>@Html.ActionLink("Change Password", "ChangePassword", "Account")</div>
        @if (User.IsInRole("Administrator"))
        {
            <div>@Html.ActionLink("Manage Users", "ManageUsers", "Account")</div>
            <div>@Html.ActionLink("Manage Roles", "ManageRoles", "Account")</div>
        }
    </div>
    <div style="width: 50%; float: left; clear: none;">
        @if (User.IsInRole("Administrator"))
        {
            <div>@Html.ActionLink("Edit User", "EditUser", "Account")</div>
            <div>@Html.ActionLink("Delete Role", "DeleteRole", "Account")</div>
        }
    </div>
</div>