@model MagStore.Web.Controllers.ShowProductViewModel

@{
    ViewBag.Title = Model.Product.Name;
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/css/jquery.ui.tabs.css" rel="stylesheet" type="text/css">
	<link href="~/Content/css/jquery.pikachoose.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Signika:400,700|Norican' rel='stylesheet'
        type='text/css'>
    <!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
    <script type="text/javascript" src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-ui-1.8.21.custom.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.menu.pack.js"></script>
    <script type="text/javascript" src="~/Content/js/hover.zoom.js"></script>
	<script type="text/javascript" src="~/Content/js/jquery.pikachoose.js"></script>
	<script type="text/javascript" src="~/Content/js/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="~/Content/js/settings-inner.js"></script>
    }
<!-- MAIN CONTENT START -->

	<section class="main wrapper">
	
		<section class="shop">
		
			<h2>@Model.Product.Name</h2>
			
			<section class="gallery">
				<div class="pikachoose">
				    <ul id="pikame" >
				        @foreach (var image in Model.ProductImages.Where(x=>x.ImageType != "HiRes"))
				        {
				            <li><img src="@image.ImageUrl" alt="" /></li>
				        }
				    </ul>
				</div>			
			</section><!-- .gallery end -->
			
		    <section class="description">
		        <p><span>Brand:</span>@Model.Product.Brand</p>
		        <br />
		        <p><span>Availability:</span>In Stock</p>
		        <p class="dots"></p>
		        <p class="product-price"><span>Price:</span>&euro;@Model.Product.Price</p>
		        <br />
		        <p class="dots"></p>
		        <p><span>Quantity:</span><input type="text" name="quantity" /></p>
		        <p>
		            <span style="width: 70px">Size:</span>
		            <select style="width: 150px">
		                @foreach (var size in Model.AvailableSizes)
		                {
		                    <option value="@size">@size</option>
		                }
		            </select>
		        </p>
		        <p>
		            <span style="width: 70px">Colour:</span>
		            <select style="width: 150px">
		                @foreach (var colour in Model.AvailableColours.Distinct())
		                {
		                    <option value="@colour">@colour</option>
		                }
		            </select>
		        </p>
		        <p class="dots"></p>
		        <p><a href="#" class="big-buy">Add to Cart</a></p>
		        @*				<p><a href="#">Add to Wish List</a>    - OR -    <a href="#">Add to Compare</a></p>*@
		    </section><!-- .description end -->
			
			<div class="clear"></div>
			
			<section class="tabs" id="product-tabs">
				<ul>
					<li><a href="#description">Description</a></li>
					<li><a href="#specification">Specification</a></li>
					<li><a href="#reviews">Reviews (@Model.Product.Reviews.Count())</a></li>
					<li><a href="#related-products">Related Products (1)</a></li>
				</ul>
			    <div id="description">
			        @{
                        var descriptions = Model.Product.Description.Split(new[] { "\r\n" }, StringSplitOptions.None);
                        foreach (var description in descriptions)
                        {
                            @description
                            <br />
                        }
			        }
                    
@*			        @HttpUtility.HtmlDecode(Model.Product.Description.Replace(Environment.NewLine, "<br />"))*@
			    </div>
				<div id="specification">
				    @{
				        if (!string.IsNullOrEmpty(Model.Product.Specification))
				        {
				            var specifications = Model.Product.Specification.Split(new[] {"\r\n"}, StringSplitOptions.None);
				            foreach (var specification in specifications)
				            {
				                @specification
				                <br />
				            }
				        }
				    }
				</div>
				<div id="reviews">
					<p>Praesent adipiscing ornare suscipit. Mauris bibendum arcu ut odio molestie eu 
					pretium metus faucibus. Etiam aliquam accumsan placerat. Cras eget quam massa, at 
					fringilla ipsum. Donec vel rhoncus nisi. Ut non est a neque facilisis dictum non 
					eu nunc. Etiam pharetra nunc dui.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie turpis 
					et purus auctor ac adipiscing sapien volutpat. Vivamus vitae augue mi. Sed quis 
					leo neque, ac egestas sapien. Mauris ornare, mauris dignissim varius vestibulum, 
					sapien lectus sollicitudin velit, at ultrices erat libero adipiscing metus. Fusce 
					bibendum dolor vitae odio convallis vestibulum. Nunc a orci nibh, in tempus massa.</p>
				</div>
				<div id="related-products">
					<p>Curabitur feugiat mi at ipsum molestie id auctor massa porttitor. Curabitur 
					vehicula arcu eu eros tincidunt accumsan. Class aptent taciti sociosqu ad litora 
					torquent per conubia nostra, per inceptos himenaeos. Aliquam erat volutpat. Nunc 
					velit nulla, mollis in iaculis id, pharetra eu arcu. Vestibulum ac mauris mauris, 
					eu blandit nibh.</p>
					<p>Praesent adipiscing ornare suscipit. Mauris bibendum arcu ut odio molestie eu 
					pretium metus faucibus. Etiam aliquam accumsan placerat. Cras eget quam massa, at 
					fringilla ipsum. Donec vel rhoncus nisi. Ut non est a neque facilisis dictum non 
					eu nunc. Etiam pharetra nunc dui.</p>
				</div>
			</section>
			
			<div class="clear"></div>
					
		</section><!-- .shop end -->
		
	    <aside>
	        <div style="text-align: center;">@Html.Partial("_EditProductButton")</div>
	        <section class="categories">
	            <h2>Categories</h2>
	            <div class="accordion">
	                <h3><a href="#">Clothes</a></h3>
	                <div>
	                    <ul>
	                        <li><a href="#">Blouses</a></li>
	                        <li><a href="#">Tops</a></li>
	                        <li><a href="#">Trousers</a></li>
	                        <li><a href="#">Skirts</a></li>
	                        <li><a href="#">Dresses</a></li>
	                        <li><a href="#">Jackets</a></li>
	                    </ul>
	                </div>
	                <h3><a href="#">Shoes</a></h3>
	                <div>
	                    <ul>
	                        <li><a href="#">Boots</a></li>
	                        <li><a href="#">Heels</a></li>
	                        <li><a href="#">Sandals</a></li>
	                    </ul>
	                </div>
	                <h3><a href="#">Addons</a></h3>
	                <div>
	                    <ul>
	                        <li><a href="#">Bags</a></li>
	                        <li><a href="#">Hats</a></li>
	                        <li><a href="#">Jewelry</a></li>
	                        <li><a href="#">Sun Glasses</a></li>
	                    </ul>
	                </div>
	                <h3><a href="#">Lingerie</a></h3>
	                <div>
	                    <ul>
	                        <li><a href="#">Bras</a></li>
	                        <li><a href="#">Panties</a></li>
	                        <li><a href="#">Gorsets</a></li>
	                    </ul>
	                </div>
	            </div><!-- .accordion end -->
	        </section><!-- .categories end -->
			
	        <section class="tags">
	            <h2>Browse by Tags</h2>
	            <ul>
	                <li><a href="#">Tops</a></li>
	                <li><a href="#">Hats</a></li>
	                <li><a href="#">Furs</a></li>
	                <li><a href="#">Sun Glasses</a></li>
	            </ul>
	        </section><!-- .tags end -->
			
	        <section class="about">
	            <h2>About Us</h2>
	            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac massa nulla, sed laoreet tellus. Proin feugiat rhoncus massa in faucibus. Duis et orci nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	            <p><a href="about.html" class="more">Read More</a></p>
	            <p>&nbsp;</p>
	        </section><!-- .about end -->
	        <div style="text-align: center;">@Html.Partial("_EditProductButton")</div>
	    </aside>

		<div class="clear"></div>

	</section><!-- .main end -->

<!-- MAIN CONTENT END -->