@using RavenDbMembership.Entities
@model MagStore.Web.Models.Product.ViewProductsByCategoryViewModel

@{
    ViewBag.Title = @Model.ProductType;
    Layout = "../Shared/_Layout.cshtml";
    var filters = string.Empty;
}

    @if (Model.Filters.Count() > 0)
    {
        filters = Model.Filters.Aggregate("?", (current, filter) => current + (filter.Key + "=" + filter.Value + "&"));
    }


@section Scripts
{
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Signika:400,700|Norican' rel='stylesheet'
        type='text/css'>
    <!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
    <script type="text/javascript" src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-ui-1.8.21.custom.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.menu.pack.js"></script>
    <script type="text/javascript" src="~/Content/js/hover.zoom.js"></script>
    <script type="text/javascript" src="~/Content/js/settings-inner.js"></script>
}
<!-- MAIN CONTENT START -->
<section class="main wrapper">
    <div id="breadcrumb">
        <a href="javascript:history.back()">Back</a> -- <a href="@HttpContext.Current.Request.UrlReferrer.ToString()">@(Model.Filters["Gender"].ToUpper() == "MALE" ? "Men" : "Women")</a> / Create Product
    </div>
    <section class="full-width">
        <h1>@Model.ProductType</h1>
        @{
            var distinctProducts = Model.Products.GroupBy(p=>p.Name).Select(g=>g.First());
        }
        @foreach (var product in distinctProducts)
        {
            var uri = "";
            foreach (var thumb in Model.Images)
            {
                var match = false;
                bool imageFound = false;
                foreach (var image in product.Images)
                {
                    match = thumb.ImageUrl.Contains(image);

                    if (match)
                    {
                        uri = thumb.ImageUrl;
                        imageFound = true;
                        break;
                    }
                }
                if (imageFound) {break;}
            }
            <div class="product-thumb one-forth">
                @if (product.Images.Any())
                {
                    <a href="/Product/ShowProduct/@product.Id@filters&Code=@product.Code">
                        <img src="@uri" alt="@product.Name" width="150px" />
                    </a>
                }
                <br />
                <a href="/Product/ShowProduct/@product.Id@filters&Code=@product.Code">@product.Name</a>
            </div>
        }
        <div class="clear"></div>
    </section>
</section>
<!-- .main end -->
<!-- MAIN CONTENT END -->
