<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="author" content="MAG Solutions Ltd - magsolutionslimited.co.uk, info@magsolutionslimited.co.uk" />
        <meta name="description" content="store is an online fashion shop." />
        <meta name="keywords" content="shop clothes online, shop fashion online, online clothing shop, online british fashion, online fashion store" />
	
        <title>NnennaShop - @ViewBag.Title</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    
        <style type="text/css">
            .social-networks, .searchbox { z-index: 1;}
            .account-menu { z-index: 2;}
            .toggler {
                width: 500px;
                height: 200px;
                z-index: 2;
            }
            #button {
                padding: .5em 1em;
                text-decoration: none;
            }
            #effect {
                position: relative;
                left: 900px;
                width: 240px;
                height: 110px;
                padding: 0.4em;
                display: none;
            }
            #effect h3 {
                margin: 0;
                padding: 0.2em;
                text-align: center;
                height: 20px;
                font-size: 15px;
            }
        </style>
        <script type="text/javascript">
            $(function () {
                // run the currently selected effect
                function runEffect() {
                    // get effect type from
                    var selectedEffect = "slide"; //$("#effectTypes").val();

                    // most effect types need no options passed by default
                    var options = {};
                    // some effects have required parameters
                    if (selectedEffect === "fold") {
                        options = { percent: 0 };
                    } else if (selectedEffect === "size") {
                        options = { to: { width: 200, height: 60} };
                    }

                    // run the effect
                    $("#effect").toggle(selectedEffect, options, 500);
                };

                // set effect from select menu value
                $("#button").click(function () {
                    runEffect();
                    return false;
                });

                @RenderSection("ReadyScripts", false);
            });
        </script>
        @RenderSection("Scripts")
    </head>

<body @RenderSection("BodyTag", false)>

<!-- HEADER START -->

	<header>
	
		<div class="wrapper">
		    <section class="account-menu">
		        <div class="toggler">
		            <div id="effect" class="ui-widget-content ui-corner-all">
		                <h3 class="ui-widget-header ui-corner-all">Account</h3>
		                <p>
		                    @Html.Partial("AccountControlPartial")
		                </p>
		            </div>
		        </div>
		    </section>
	
			<h1>
				<a href="/">
					NnennaShop
					<span>Nnenna's perfect store</span>
				</a>
			</h1>
			
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li class="menumain">Something Useful
						<ul>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
						</ul>
					</li>
					<li class="menumain">Catalog
						<ul>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
						</ul>
					</li>
				    <li>
				        @Html.ActionLink("About Us", "About", "Home")
				    </li>
				    <li>
				        @Html.ActionLink("Contact Us", "Contact", "Home")
				    </li>
				</ul>
			</nav>
			
			<section class="cart">
			    @Html.Partial("_MenuPartial", new {})
			</section><!-- .cart end -->
			<section class="social-networks">
				<ul>
					<li><a href="http://facebook.com/shakarashop" target="_blank"><img src="~/Content/images/facebook.png" width="26" height="52" alt="Like me on Facebook" /></a></li>
					<li><a href="http://twitter.com/shakarashop" target="_blank"><img src="~/Content/images/twitter.png" width="26" height="52" alt="Follow me on Twitter" /></a></li>
@*					<li><a href="http://plus.google.com/111405957653832671873" target="_blank"><img src="~/Content/images/google.png" width="26" height="52" alt="Add me on Google Plus" /></a></li>*@
@*					<li><a href="http://www.linkedin.com/in/banaszek" target="_blank"><img src="~/Content/images/linkedin.png" width="26" height="52" alt="Find me on LInkedIn" /></a></li>*@
				</ul>
			</section><!-- .social-networks end -->
			
			<section class="searchbox">
				<form>
					<input type="text" value="Search product">
					<input type="button" value="Search">
				</form>
			</section><!-- .searchbox end -->
			
		</div><!-- .wrapper end -->
		
	</header>

<!-- HEADER END -->

@RenderBody()

    <!-- FOOTER START -->

	<footer>
	
		<div class="wrapper">
		
			<section class="column" id="menu">
				<h3>NnennaShop</h3>
			    <ul>
			        <li><a href="#">1</a></li>
			        <li><a href="#">2</a></li>
			        <li><a href="#">3</a></li>
			        <li><a href="#">4</a></li>
			        <li><a href="#">5</a></li>
			    </ul>
			</section><!-- #menu end -->
			
			<section class="column" id="contact">
				<h3>Contact Us</h3>
				<p>
					4 Millbank<br>
					Newmarket<br>
					Suffolk<br>
					CB8 0EQ<br>
					United Kingdom
				</p>
				<p>
					Telephone: +44 01638 602 352<br>
					Email: <a href="mailto:magsolutionslimited.co.uk">info@magsolutionslimited.co.uk</a>
				</p>
			</section><!-- #contact end -->
			
			<section class="column" id="tweets">
				<h3>Tweets</h3>
				<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
				<script>
				    new TWTR.Widget({
				        version: 2,
				        type: 'profile',
				        rpp: 1,
				        interval: 30000,
				        width: 202,
				        height: 300,
				        theme: {
				            shell: {
				                background: 'none',
				                color: '#ffffff'
				            },
				            tweets: {
				                background: 'none',
				                color: '#999999',
				                links: '#ffffff'
				            }
				        },
				        features: {
				            scrollbar: false,
				            loop: false,
				            live: false,
				            behavior: 'all'
				        }
				    }).render().setUser('markrgray').start();
				</script>
			</section><!-- #tweets end -->
			
			<section class="column" id="payments">
				<h3>Payments</h3>
				<ul>
					<li class="american-express">American Express</li>
					<li class="discover">Discover</li>
					<li class="visa">Visa</li>
					<li class="mastercard">Mastercard</li>
					<li class="maestro">Maestro</li>
					<li class="cirrus">Cirrus</li>
					<li class="paypal">Paypal</li>
					<li class="google-checkout">Google Checkout</li>
				</ul>
			</section><!-- #payments end -->
			
			<p class="copyright">&copy; Copyright @DateTime.UtcNow.Year  <a href="http://www.magsolutionslimited.co.uk" target="_blank">MAG Solutions Ltd</a></p>
			<p class="credits"><a href="http://www.magsolutionslimited.co.uk" target="_blank">Web Development</a> by MAG Solutions Ltd</p>
		
		</div><!-- .wrapper end -->
	
	</footer>

<!-- FOOTER END -->

</body>
</html>
