@model MagStore.Web.Models.Catalogue.CataloguesViewModel

@{
    ViewBag.Title = "Create Catalogue";
    Layout = "../Shared/_Layout.cshtml";
}

@section Scripts
{
	<link href="~/Content/css/style.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Signika:400,700|Norican' rel='stylesheet' type='text/css'>
	
	<!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
	<script type="text/javascript" src="~/Content/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="~/Content/js/jquery-ui-1.8.21.custom.min.js"></script>
	<script type="text/javascript" src="~/Content/js/jquery.menu.pack.js"></script>
	<script type="text/javascript" src="~/Content/js/hover.zoom.js"></script>
	<script type="text/javascript" src="~/Content/js/settings-inner.js"></script>
}

<!-- MAIN CONTENT START -->

	<section class="main wrapper">
	    <div id="breadcrumb">
	        @Html.ActionLink("Manage Shop", "Manage", "Shop") / Catalogue Administration
	    </div>
	    <article>
	        <h1>Catalogue Administration</h1>
	        <h6>Catalogues</h6>
	        <table class="no-borders">
	            <tr>
	                <th scope="col">Catalogue Id</th>
	                <th scope="col">Catalogue Name</th>
	                <th scope="col">Discount Amount</th>
	                <th scope="col">Discount Type</th>
	                <th scope="col">Promotions</th>
	                <th scope="col">Products</th>
	            </tr>
	            @foreach (var catalogue in @Model.Catalogues)
             {
	                <tr>
	                    <td>@catalogue.Id</td>
	                    <td>@catalogue.Name</td>
	                    <td>@catalogue.DiscountAmount</td>
	                    <td>@catalogue.DiscountType</td>
	                    <td>
	                        @if (catalogue.Promotions.Any())
                         {
	                            <b>Promotions:</b>
	                            <br />
                             foreach (var promotion in @catalogue.Promotions)
                             {
	                                @Html.ActionLink(promotion, "Promotion", "Promotion")
                             }
                         }
	                    </td>
	                    <td>
	                    @{
	                        var form = Html.BeginForm("ViewProductsInCatalogue", "Catalogue", FormMethod.Post);
                            <input type="hidden" name="Id" value="@catalogue.Id" />
	                        <input type="submit" value="View Catalogue Products" />
	                        form.EndForm();
	                    }
	                    </td>
	                </tr>
	            }
	        </table>
	        <p>&nbsp;</p>
	    </article>
		
		<aside>
		
			<section class="categories">
				<h2>About This Theme</h2>
				<div class="accordion">
					<h3><a href="#">Typography</a></h3>
					<div>
						<ul>
							<li><a href="typography.html">Submenu 1</a></li>
							<li><a href="typography.html">Submenu 2</a></li>
							<li><a href="typography.html">Submenu 3</a></li>
						</ul>
					</div>
					<h3><a href="#">Columns &amp; Buttons</a></h3>
					<div>
						<ul>
							<li><a href="columns.html">Submenu 1</a></li>
							<li><a href="columns.html">Submenu 2</a></li>
							<li><a href="columns.html">Submenu 3</a></li>
						</ul>
					</div>
					<h3><a href="#">Tables</a></h3>
					<div>
						<ul>
							<li><a href="tables.html">Submenu 1</a></li>
							<li><a href="tables.html">Submenu 2</a></li>
							<li><a href="tables.html">Submenu 3</a></li>
						</ul>
					</div>
					<h3><a href="#">Pricing Table</a></h3>
					<div>
						<ul>
							<li><a href="pricing.html">Submenu 1</a></li>
							<li><a href="pricing.html">Submenu 2</a></li>
							<li><a href="pricing.html">Submenu 3</a></li>
						</ul>
					</div>
					<h3><a href="#">Tabs &amp; Accordion</a></h3>
					<div>
						<ul>
							<li><a href="tabs.html">Submenu 1</a></li>
							<li><a href="tabs.html">Submenu 2</a></li>
							<li><a href="tabs.html">Submenu 3</a></li>
						</ul>
					</div>
				</div><!-- .accordion end -->
			</section><!-- .categories end -->
			
			<section class="about">
				<h2>About Us</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac massa nulla, sed laoreet tellus. Proin feugiat rhoncus massa in faucibus. Duis et orci nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p><a href="about.html" class="more">Read More</a></p>
				<p>&nbsp;</p>
			</section><!-- .about end -->
		
		</aside>
		
		<div class="clear"></div>

	</section><!-- .main end -->

<!-- MAIN CONTENT END -->
